* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*MENU*/

#home {
    background: linear-gradient(180deg, rgba(108,108,108,1) 0%, rgba(96,93,93,1) 21%, rgba(84,82,82,1) 41%, rgba(73,70,70,1) 61%, rgba(63,59,59,1) 79%, rgba(50,45,45,1) 100%);
    height: 100vh;
    
}

.home .header {
    padding-top: 13px;
    height: 80px;
    background: linear-gradient(85deg, rgba(97,89,89,1) 0%, rgba(80,74,74,1) 25%, rgba(65,61,61,1) 48%, rgba(53,51,51,1) 65%, rgba(43,42,42,1) 80%, rgba(30,30,30,1) 100%);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.home .header .nav {
    justify-content: end;
    display: flex;
    
}

.home .header .nav ul {
    display: flex;
    list-style: none;
    align-items: center;
   
}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    margin: 0 10px;
}

.home .header .nav ul li a {
    text-decoration: none;
    color: rgb(214, 211, 211);
    font-size: 16px;
    font-weight: bold;
    padding: 19px 32px;
    
}

.home .header .nav ul li a:hover {
    border-bottom: white;
    color: rgb(138, 115, 115);
}

/*LOGIN*/

#login {
    position: relative;
}

.login-login {
    color: white;
}

.box-login {
    background-color: rgb(80, 82, 85);
    height: 400px;
    width: 800px;
    border-radius: 20px;
    position: absolute;
    top: 150px;
    display: block;
    margin-inline: 300px;
}

.input-div{
   border-radius: 10px;
}

.input-div p{
    color: white;
 }

.input-form {
    border-radius: 20px;
    padding: 5px;
    width: 200px;
}