* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
}


/*MENU*/

#home {
    background: linear-gradient(180deg, rgba(108,108,108,1) 0%, rgba(96,93,93,1) 21%, rgba(84,82,82,1) 41%, rgba(73,70,70,1) 61%, rgba(63,59,59,1) 79%, rgba(50,45,45,1) 100%);
    height: 100vh;
    position: relative;
    
}

.home .header {
    padding-top: 13px;
    height: 80px;
    background: linear-gradient(85deg, rgba(97,89,89,1) 0%, rgba(80,74,74,1) 25%, rgba(65,61,61,1) 48%, rgba(53,51,51,1) 65%, rgba(43,42,42,1) 80%, rgba(30,30,30,1) 100%);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.home .header .nav {
    justify-content: end;
    display: flex;
    
}

.home .header .nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-top: 5px;
   
}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    margin: 0 10px;
    padding-top: 5px;
}

.home .header .nav ul li a {
    text-decoration: none;
    color: rgb(214, 211, 211);
    font-size: 16px;
    font-weight: bold;
    padding: 19px 32px;
    
}

.button1 {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .button1::before {
    margin-left: auto;
  }
  
  .button1::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    transition: 0.5s;
  }
  
  .button1:hover::after, button:hover::before {
    width: 100%;
  }

  /*QUIZ*/

  .container {
    background-color: #9a9aa7;
    
  
    border: 2px solid #e1e1e6;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 2px 2px;
    position: absolute;
    top: 400px;
    margin-inline: auto;
    
  }
  
  .questions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  
  .question {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .answers-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  .answer:disabled {
    cursor: not-allowed;
  }
  
  .next-question {
    margin-top: 32px;
  }
  
  .button {
    background-color: #4863f7;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
  
    transition: filter 0.1s;
  }
  
  .button:not(:disabled):hover {
    filter: brightness(0.8);
  }
  
  /* Finish game */
  .final-message {
    font-size: 20px;
    text-align: center;
  }
  
  .final-message span {
    display: block;
    margin-top: 8px;
  }
  
  /* General styles */
  .hide {
    display: none;
  }
  
  .correct {
    background-color: #049b48;
  }
  
  .incorrect {
    background-color: #a10101;
  }

