* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
    scroll-behavior: smooth;
    
}

/*MENU*/

#home {
    background: linear-gradient(180deg, rgba(108,108,108,1) 0%, rgba(96,93,93,1) 21%, rgba(84,82,82,1) 41%, rgba(73,70,70,1) 61%, rgba(63,59,59,1) 79%, rgba(50,45,45,1) 100%);
    height: 100vh;
    
}

.home .header {
    padding-top: 13px;
    height: 80px;
    background: linear-gradient(85deg, rgba(97,89,89,1) 0%, rgba(80,74,74,1) 25%, rgba(65,61,61,1) 48%, rgba(53,51,51,1) 65%, rgba(43,42,42,1) 80%, rgba(30,30,30,1) 100%);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.home .header .nav {
    justify-content: end;
    display: flex;
    
}

.home .header .nav ul {
    display: flex;
    list-style: none;
    align-items: center;
   
}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    margin: 0 10px;
    padding-top: 5px;
}

.home .header .nav ul li a {
    text-decoration: none;
    color: rgb(214, 211, 211);
    font-size: 16px;
    font-weight: bold;
    padding: 19px 32px;
    
}

.button1 {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .button1::before {
    margin-left: auto;
  }
  
  .button1::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    transition: 0.5s;
  }
  
  .button1:hover::after, button:hover::before {
    width: 100%;
  }

  /*Introdução*/

  .textIntroducao {
    background-color: rgb(14, 13, 13);
    width: 600px;
    height: 350px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    top: 200px;
    color: white;
    position: relative;
    top: 120px;
    left: 28%;
    
  }

  h1 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
  }

  p {
    font-size: 20px;
    text-align: center;
  }

  .boxButtons{
    display: flex;
    justify-content: center;
  }
  .button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    margin-top: 30px;
    margin-left: 15px;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    transition: all 1.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(44, 44, 44, 0.4);
  }
  
  .button:active {
    scale: 1;
  }
  